 <form (ngSubmit)="onLogin()" action="/Add" method="post">
      <div class="form-group">
        <label for="user.username">username</label>
        <input type="text" class="form-control" [(ngModel)]="user.username" name="username" required
         placeholder="example: jainutkarsh567">
      </div>
 
      <div class="form-group">
        <label for="user.password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" name="password" required
         placeholder="min. 8 character">
      </div>
      
 
      <button type="submit" class="btn btn-success">Submit</button>

    </form>
 
<br>
{{message}}